/*/*.iml
*.iml
/*/target/*
.settings/*
.project
/*/.settings/*
/*/.project
.classpath
/*/.classpath
.idea
target
.gradle
build
/*/build
/*/out
/user_service_test_war/test.pdf
/*.war
/user_service_test_war/pics

